#fn-list {
    padding: 0;
    list-style: none;
    text-align: left;
}

.fn-item {
    width: 300px;
    margin: 0 8px;
    padding: 10px;
    border: solid grey 1px;
    border-radius: 1em;
    display: inline-block;
    text-align: center;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.fn-item:hover {
    transform: translateY(-3px);
    box-shadow: 2px 2px 2px lightgrey;
}

.fn-item-title {
    margin: 0;
    color: #fda34e;
    transition: color 300ms ease-in-out;
}

.fn-item:hover .fn-item-title {
    color: orange;
}

.fn-item-desc {
    height: 3em;
    text-align: left;
}

.fn-item-btn {
    font-size: 1em;
}

.fn-item-info {
    display: none;
}

#example-fn {
    display: none;
}
