:root {
    --fe-pre-color: orange;
    --fe-aft-color: deepskyblue;
    --fd-pre-color: darkgray;
    --fd-aft-color: #9c9c9c;
}

@keyframes cardFlip {
    0% {
        filter: blur(0);
        opacity: 1;
    }
    50% {
        filter: blur(6px);
        opacity: 0.4;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes tipShake {
    0% {
        color: red;
        transform: translateX(-4px);
    }
    25% {
        transform: translateX(7px);
    }
    50% {
        transform: translateX(-6px);
    }
    75% {
        transform: translateX(6px);
    }
    100% {
        color: black;
        transform: none;
    }
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    min-height: 100%;
}

.general-btn {
    padding: 3px 8px;
    background-color: white;
    border-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    outline: none;
    transition: border-color 150ms ease-in-out;
}

.general-btn:enabled:hover {
    border-color: var(--fe-pre-color);
}

.general-btn:enabled:active {
    border-color: var(--fe-aft-color);
}

.general-btn:disabled:hover {
    border-color: var(--fd-pre-color);
}

.general-btn:disabled:active {
    border-color: var(--fd-aft-color);
}
