:root {
    --theme-blue: #46b3fa;
    --theme-orange: orange;
    --theme-orange2: #fda34e;
    --theme-red: #fe4365;
    --fe-pre-clr: orange; /* focus-enabled */
    --fe-aft-clr: deepskyblue;
    --fd-pre-clr: darkgray; /* focus-disabled */
    --fd-aft-clr: #9c9c9c;
    --th-pre-clr: #fda34e; /* title-hover */
    --th-aft-clr: orange;
    --neon-clr: #03e9f4;
    --neon-clr-a: #03e9f466; /* color alpha */
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

@font-face {
    font-family: "Sounso Quality";
    src: url(../fonts/SounsoQuality.ttf);
}

@keyframes cardFlip {
    0% {
        filter: blur(0);
        opacity: 1;
    }
    50% {
        filter: blur(6px);
        opacity: 0.4;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes tipShake {
    0% {
        color: red;
        transform: translateX(-4px);
    }
    25% {
        transform: translateX(7px);
    }
    50% {
        transform: translateX(-6px);
    }
    75% {
        transform: translateX(6px);
    }
    100% {
        color: black;
        transform: none;
    }
}

@keyframes neon1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

@keyframes neon2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

@keyframes neon3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

@keyframes neon4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

@keyframes textJump {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-30px);
    }
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 8px;
}

button, label {
    cursor: pointer;
}

.general-link {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    transition: color 150ms ease-in-out;
}

.general-link:hover {
    color: var(--fe-pre-clr);
}

.general-link:active {
    color: var(--fe-aft-clr);
}

.general-svg-link {
    text-decoration: none;
}

.general-svg-link svg {
    fill: gray;
    cursor: pointer;
    transition: fill 150ms ease-in-out;
}

.general-svg-link svg:hover {
    fill: var(--fe-pre-clr);
}

.general-svg-link svg:active {
    fill: var(--fe-aft-clr);
}

/*.general-link:disabled:hover {*/
/*    color: var(--fd-pre-clr);*/
/*}*/

/*.general-link:disabled:active {*/
/*    color: var(--fd-aft-clr);*/
/*}*/

.general-btn {
    padding: 3px 8px;
    background-color: white;
    border-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: border-color 150ms ease-in-out;
}

.general-btn:enabled:hover {
    border-color: var(--fe-pre-clr);
}

.general-btn:enabled:active {
    border-color: var(--fe-aft-clr);
}

.general-btn:disabled:hover {
    border-color: var(--fd-pre-clr);
}

.general-btn:disabled:active {
    border-color: var(--fd-aft-clr);
}

.shadow-btn {
    padding: 0.6em 3em;
    background-color: whitesmoke;
    border: transparent solid 2px;
    border-radius: 0.4em;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition-property: background-color, box-shadow, opacity, padding, color;
    transition-duration: 300ms, 300ms, 250ms, 300ms, 150ms;
    transition-timing-function: ease-in, ease-out, ease-in-out, ease-out, ease-out;
}

.shadow-btn:enabled:hover {
    background-color: #fffaf066;
    box-shadow: 1px 1px 2px #3333;
    opacity: 0.8;
}

.shadow-btn:enabled:active {
    opacity: 0.6;
    color: dimgray;
}

.shadow-btn.active:enabled {
    padding: 0.6em 1.5em;
    background-color: antiquewhite;
    color: var(--theme-blue);
}

#loading-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: ghostwhite;
    text-align: center;
}

#loading-cover span {
    margin: 0;
    display: inline-block;
    line-height: 100vh;
    font-family: "Sounso Quality", system-ui;
    font-size: 8vmin;
    animation: textJump 2s ease-in-out infinite;
    animation-delay: calc(80ms * var(--i));
}
