#mask-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    filter: blur(32px);
    opacity: 0;
    transition: filter 250ms ease-in-out, opacity 450ms ease-in-out;
}

#popup {
    position: fixed;
    left: calc((100vw - 868px) / 2);
    top: calc((100vh - 568px) / 2);
    width: 850px;
    height: 550px;
    background-color: whitesmoke;
    border: solid grey 1px;
    border-radius: 1em;
    padding: 8px;
    box-shadow: 0 0 5px darkgrey;
}

#popup-nav {
    position: absolute;
}

#popup-nav-close {
    position: relative;
    bottom: 6px;
    left: 824px;
    font-size: 32px;
    line-height: 32px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: color 100ms ease-in-out;
}

#popup-nav-close:hover {
    color: red;
}

#popup-body-title {
    color: forestgreen;
    font-size: 32px;
    text-align: center;
}

#popup-body-info {
    height: 430px;
    padding: 12px;
    font-size: 24px;
    line-height: 24px;
}
