<style>
    :root {
        --tp-clr: #dc5b5b; /* turn-pointer */
        --tp-txt-clr: #fff899;
        --tp-idc-clr: #d0481f; /* indicator */
        --res-yellow: #efef22;
        --res-yellow2: #cfce5544;
        --res-red: #ee2211;
    }

    .new-rand[data-ft-id="container"] {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .new-rand[data-ft-id="menu-container"] {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        margin-right: 0.5em;
        display: inline-block;
        flex-basis: 200px;
    }

    .new-rand[data-ft-id="menu"] {
        list-style: none;
        margin: 6px 0;
        padding-left: 2em;
    }

    .new-rand[data-ft-id="menu"] li {
        margin-bottom: 0.3em;
    }

    .new-rand[data-ft-id="menu"] li p {
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .new-rand[data-ft-id="main-container"] {
        position: relative;
        height: 100%;
        display: inline-block;
        flex-grow: 1;
        border-left: gray solid 2px;
        border-radius: 1em;
        overflow: auto;
        text-align: left;
    }

    .new-rand[data-ft-id="pattern-area"] section {
        display: none;
    }

    .new-rand[data-ft-cls="turntable"] {
        width: 23em;
        height: 23em;
        margin: 1em;
        background-color: var(--theme-orange2);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 2px 2px var(--theme-orange2);
    }

    .new-rand[data-ft-cls="wheel"] {
        position: absolute;
        width: 20em;
        height: 20em;
        /*outline: solid var(--theme-blue) 5px;*/ /* Google Chrome doesn't support circle outline */
        /*border: solid darkgray 2px;*/
        border: solid var(--theme-blue) 5px; /* alternative resolution: remove original border */
        border-radius: 50%;
        display: inline-block;
        background-color: white;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 0 10px black;
        transition: transform 6s cubic-bezier(0.23, 0.12, 0.31, 1.01);
    }

    .new-rand[data-ft-cls="turn-pointer"] {
        position: absolute;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
    }

    .new-rand[data-ft-cls="turn-spinner"] {
        position: absolute;
        width: 4rem;
        height: 4rem;
        z-index: 999;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 4rem;
        background-color: var(--tp-clr);
        color: var(--tp-txt-clr);
        font-size: 1.8em;
        box-shadow: 0 0 2px 2px var(--tp-clr);
        cursor: pointer;
        transition: filter 250ms ease-out;
    }

    .new-rand[data-ft-cls="turn-spinner"]:hover {
        filter: drop-shadow(0 0 4px gray);
    }

    .new-rand[data-ft-cls="turn-pointer"]::before {
        content: "";
        position: absolute;
        bottom: 4rem;
        z-index: 888;
        border-width: 1.8rem 0.6rem;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: var(--tp-idc-clr);
        filter: drop-shadow(0 0 1px var(--tp-clr));
    }

    .new-rand[data-ft-cls="prize-zone"] span {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 0;
        left: 0;
        border-right: solid var(--theme-red) 2px;
        border-bottom: solid var(--theme-red) 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: bottom right;
        transform: rotate(calc(var(--eAng) * var(--i))) skew(calc(90deg - var(--eAng)));
        transition-property: background-color, border-color;
        transition-duration: 100ms;
        transition-timing-function: ease-in;
    }

    .new-rand[data-ft-cls="prize-zone"] span.pointed {
        background: var(--res-yellow2);
        border-color: var(--res-yellow);
    }

    .new-rand[data-ft-cls="prize-zone"] span.pointedL {
        border-right-color: var(--res-yellow);
    }

    .new-rand[data-ft-cls="prize-zone"] span.pointedR {
        border-bottom-color: var(--res-yellow);
    }

    .new-rand[data-ft-cls="prize-text"] p {
        position: absolute;
        inset: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        transform: rotate(calc(var(--eAng) * (var(--i) + 0.5) - 90deg)); /* eAng * (i - 1) + 3/2 * eAng - 90° */
        transition-property: color, font-weight, font-size;
        transition-duration: 100ms;
        transition-timing-function: ease-in;
    }

    .new-rand[data-ft-cls="prize-text"] p.pointed {
        color: var(--res-red);
        font-weight: bold;
        font-size: 1.2em;
    }

    .new-rand[data-ft-cls="prize-text"] p em {
        position: absolute;
        top: 1rem;
        font-style: normal;
        font-size: 1.5em;
    }

    .new-rand[data-ft-id="pattern-cont"] {
        height: 100%;
        padding: 1em;
    }
</style>
<div class="new-rand" data-ft-id="container">
    <aside class="new-rand" data-ft-id="menu-container">
        <menu class="new-rand" data-ft-id="menu">
            <li>
                <p>
                    <button class="shadow-btn active">转盘模式</button>
                </p>
            </li>
            <li>
                <p>
                    <button class="shadow-btn">卡牌模式</button>
                </p>
            </li>
            <li>
                <p>
                    <button class="shadow-btn">奖池模式</button>
                </p>
            </li>
        </menu>
    </aside>
    <div class="new-rand" data-ft-id="main-container">
        <div class="new-rand" data-ft-id="pattern-area">
            <section class="new-rand" data-ft-id="wheel-mode">
                <!--                <p>转盘模式：持续开发中，敬请期待...</p>-->
                <!--                <button class="shadow-btn">感谢支持</button>-->
                <div class="new-rand" data-ft-cls="turntable">
                    <p class="new-rand" data-ft-cls="turn-pointer">
                        <span class="new-rand" data-ft-cls="turn-spinner">抽</span>
                    </p>
                    <div class="new-rand" data-ft-cls="wheel" style="--N: 6; --eAng: calc(360deg / var(--N))">
                        <div class="new-rand" data-ft-cls="prize-zone">
                            <!-- example item -->
                            <span style="--i: 1; display: none"></span>
                        </div>
                        <div class="new-rand" data-ft-cls="prize-text">
                            <!-- example item -->
                            <p style="--i: 1; display: none"><em>000 Ex</em></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="new-rand" data-ft-id="card-mode">
                <p>卡牌模式：持续开发中，敬请期待...</p>
            </section>
            <section class="new-rand" data-ft-id="pool-mode">
                <p>奖池模式：持续开发中，敬请期待...</p>
            </section>
        </div>
        <section class="new-rand" data-ft-id="pattern-cont"></section>
    </div>
</div>